.about-section {
	background: var(--secondary-color);
}

.about-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
}

.about-content h1 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: 400;
	font-size: 12.8em;
	color: var(--primary-color);
	margin-top: 36px;
}

.about-detail {
	width: 100%;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	margin-bottom: 4.8em;
	gap: 10.8em;
}

.about-gif {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-gif img {
	width: 24.8em;
}

.about-text {
	text-align: left;
}

.about-text h2 {
	color: var(--primary-color);
	font-weight: 400;
	margin: 2.08rem 0;
}

.about-text p {
	color: var(--primary-color);
	font-size: 1.08em;
	margin: 1.08em 0;
}

/* ---- WORK SECTION ---- */

.work-section {
	background: var(--primary-color);
}

.work-content {
	display: flex;
	font-size: 16px;
	padding: 8.8em 0;
	gap: 8em;
}

.work-left {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.work-left h2 {
	font-weight: 400;
}

.work-right {
	display: flex;
	flex-direction: column;
	gap: 2.8em;
}

.work {
	display: flex;
	gap: 17.98em;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	padding-bottom: 1em;
}

.work h3 {
	font-weight: 400;
	font-size: 1.48em;
}

.work p {
	font-size: 1.08em;
	text-align: right;
}

.work p span {
	font-size: 1.18em;
}

/* ---- WORK SECTION ---- */

.travel-section {
	background: var(--secondary-color);
	color: var(--primary-color);
}

.travel-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	padding: 8em 0;
}

.travel-txt {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.travel-txt h2 {
	color: var(--primary-color);
	margin: 28px 0;
	text-align: center;
	font-weight: 400;
}

.travel-card {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 18px;
}

.travel-card img {
	width: 18em;
	height: 28em;
	border-radius: 28px;
	object-fit: cover;
	object-position: center;
}

/* ---- DESIGN SECTION ---- */

.design-section {
	background: #f8f8f8;
}

.design-content {
	font-size: 16px;
	padding: 8em 0;
}

.upper {
	display: flex;
	gap: 12.8em;
	justify-content: space-between;
}

.upper .left h2 {
	font-weight: 400;
	margin-top: 16px;
}

.upper .right .icon {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 1.8em;
}

.right .icon p {
	font-size: 16px;
}

.right .icon span {
	font-size: 1.28em;
	line-height: 1.68;
	display: flex;
	align-items: center;
}

.right .icon span svg {
	width: 18px;
	height: 18px;
	margin-right: 8px;
	fill: lime;
}

.down {
	display: flex;
	justify-content: space-between;
	gap: 1.8em;
	margin-top: 3.08em;
}

.downCard {
	padding: 28px;
	display: flex;
	flex-direction: column;
	align-items: start;
	background: #ffffff;
	border-radius: 28px;
	flex: 1;
}

.downCard svg {
	width: 18px;
}

.downCard h3 {
	margin-top: 18px;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 24.8px;
}

@media screen and (max-width: 1218px) {
	.about-detail {
		flex-direction: column;
		gap: 2.8em;
	}
	.about-text p {
		font-size: 1.2em;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		flex-direction: column;
		gap: 2.8em;
	}

	/* ---- TRAVEL SECTION ---- */
	.travel-content {
		font-size: 15px;
	}

	.travel-card img {
		width: 16.8em;
		height: 26.8em;
	}
}

@media screen and (max-width: 1148px) {
	.work-content {
		font-size: 15px;
	}

	/* ---- TRAVEL SECTION ---- */
	.travel-content {
		font-size: 12.08px;
	}

	.travel-card img {
		width: 15.08em;
		height: 25.08em;
	}
}

@media screen and (max-width: 838px) {
	.about-content {
		font-size: 15px;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 14px;
	}

	.work {
		gap: 16em;
	}

	/* ---- TRAVEL SECTION ---- */

	.travel-card {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.travel-content {
		font-size: 16px;
	}

	.travel-card img {
		width: 23.8em;
		height: 33.8em;
	}

	/* ---- DESIGN SECTION */
	.upper {
		flex-direction: column;
		gap: 35.8px;
	}

	.down {
		flex-wrap: wrap;
	}

	.downCard {
		flex: 1 1 calc(50% - 1.8em);
	}

	.brake {
		display: none;
	}
}

@media screen and (max-width: 738px) {
	.about-content {
		font-size: 14px;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 13px;
	}

	.work {
		gap: 14em;
	}

	/* ---- DESIGN SECTION */

	.down {
		flex-direction: column;
		gap: 20.8px;
	}

	.right .icon span {
		font-size: 1em;
	}
}

@media screen and (max-width: 658px) {
	.about-content {
		font-size: 12px;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 12px;
	}

	.work {
		gap: 12em;
	}
}

@media screen and (max-width: 568px) {
	.about-content h1 {
		font-size: 10em;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 11px;
	}

	.work {
		gap: 11em;
	}
}

@media screen and (max-width: 448px) {
	.about-content h1 {
		font-size: 6em;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 10px;
	}

	.work {
		gap: 10em;
	}

	/* ---- TRAVEL SECTION ---- */

	.travel-content {
		font-size: 12px;
	}
}

@media screen and (max-width: 318px) {
	.about-gif img {
		width: 18em;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 9px;
	}

	.work {
		gap: 8em;
	}

	/* ---- TRAVEL SECTION ---- */
	.travel-content {
		font-size: 8.8px;
	}
}

@media screen and (max-width: 268px) {
	.about-content h1 {
		font-size: 5em;
	}

	.about-gif img {
		width: 15.8em;
	}

	/* ---- WORK SECTION ---- */

	.work-content {
		font-size: 8px;
	}

	.work {
		gap: 5.8em;
	}
}
